<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>User story manager</title>
</head>
<body>
    <h1>User story manager</h1>
    <form action="/story">
    <br /><button type="Submit">Add new user story</button></form>
    <table>
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation (hr)</th>
            <th>Status</th>
        </tr>
    {% for list in database %}
        <tr>
            {% for item in list %}
            <td>{{ item }}</td>
            {% endfor %}
            <td><form action="{{ url_for('route_update', story_id=list[0] ) }}">
                <button type="Submit"><img src="/static/pen.png" /></button>
            </form></td>
            <td><form action="{{ url_for('route_delete', story_id=list[0] ) }}" method="post">
                <button type="Submit"><img src="/static/trash.png" /></button>
            </form></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
